# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# <<<<< TUI AUTO START
monitor=desc:BOE NE135A1M-NY1,2880x1920@120.00000,0x0,1.50,transform,0,vrr,1
monitor=desc:Philips Consumer Electronics Company PHL 346B1C 0x00002FE5,3440x1440@59.97300,-1520x-1540,1.00,transform,0,vrr,0
# <<<<< TUI AUTO END

workspace = 1,monitor:desc:Philips Consumer Electronics Company PHL 346B1C 0x00002FE5,default:true
workspace = 2,monitor:desc:Philips Consumer Electronics Company PHL 346B1C 0x00002FE5
workspace = 3,monitor:desc:Philips Consumer Electronics Company PHL 346B1C 0x00002FE5
workspace = 4,monitor:desc:Philips Consumer Electronics Company PHL 346B1C 0x00002FE5
workspace = 5,monitor:desc:Philips Consumer Electronics Company PHL 346B1C 0x00002FE5
workspace = 6,monitor:desc:BOE NE135A1M-NY1
workspace = 7,monitor:desc:BOE NE135A1M-NY1
workspace = 8,monitor:desc:BOE NE135A1M-NY1
workspace = 9,monitor:desc:BOE NE135A1M-NY1
